on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    tags:
      - v?[0-9]+.[0-9]+.[0-9]+*
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  DeterminateCI:
    uses: birnxnet/ci/.github/workflows/workflow.yml@main
    permissions:
      id-token: write
      contents: read
    with:
      visibility: private
      runner-map: |
        {
          "aarch64-darwin": "macos-latest",
          "x86_64-linux": "buntu1"
        }
      enable-ssh-agent: true
    secrets:
      ssh-private-key: ${{ secrets.ssh }}
